html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.page-wrapper {
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
}

header {
    display: flex;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items:flex-end
}

ul {
    margin: 0;
    padding: 0;
    color: #acfdfe;
}

li{
    color: #fff;
    font-weight: bolder;
    margin-left: 40px;
    font-size: 15px;
    display: inline;
}

li:nth-child(1){
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 20px;
    color: rgba(9, 9, 158, 0.822);
    width: 80px;
    text-align: center;
    margin-left: 0;
}

img {
    width: 110px;
}
.text {
    margin: 0 auto;
    width: 60%;
    color: #acfdfe;
    text-align: center;
}
.text h1 {
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    margin-bottom: 0;
    font-weight: 500;
    margin-top: 70px;
}

.text h2{
    margin:0;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 300;
    letter-spacing: 30px;
}

p {
    font-weight: 300;
    font-size: 20px;
    padding-top: 30px;
    opacity: 0.7;
}

.border{
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    border-top: 2px solid #acfdfe;
}

a {
    text-decoration: none;
}

a:hover{
    color: #acfdfe;
}

/* From here is about "Sign-up" layout */

h3{
    color:white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 0;
}

section .border{
    margin: 20px 0;
    width: 25%;
    border-top: 2px solid #acfdfe ;
}

section div:last-of-type{
    color: white;
    opacity: 0.7;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 50px;
}

.sign-up-wrapper{
    height: 25%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px; 
    margin-bottom: 50px;
}

.sign-up-container{
    width: 25%;
    margin: 0 auto;
}

.input-wrapper input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #7c8482;
}
.input-wrapper input::-moz-placeholder { /* Firefox 19+ */
    color: #7c8482;
}
.input-wrapper input:-ms-input-placeholder { /* IE 10+ */
    color: #7c8482;

}
.input-wrapper input:-moz-placeholder { /* Firefox 18- */
    color: #7c8482;
}

.input-wrapper{
    margin-top: 30px;
    position: relative;
}

.input-wrapper label {
    color: #7c8482;
    display: block;
    margin-bottom: 10px;
}

.input-wrapper input{
    width: 100%;  
    height: 40px;
    color: black;
    border: 2px solid rgba(124, 132, 130, 0.5);
    padding-left: 38px;
    box-sizing: border-box;
}

i{
    position: absolute;
    padding: 12px;
    color: #7c8482;
    opacity: 0.5;
}

.border-form{
    border-top: 3px solid #acfdfe;
    margin: 50px 0;
    width: 100%;
}

textarea{
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    font-size: 15px;
}

.submit-wrapper{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 15px;
}

.submit-wrapper input{
    color: black;
    background-color: #acfdfe;
    border-style: none;
    padding: 7px 30px;
    font-size: 15px;
}

.submit-wrapper div:first-of-type{
    display: flex;
    width: 100px;
    justify-content: space-evenly;
}
.submit-wrapper div div:last-of-type{
    color:black;
    font-weight: bold;
}   

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

footer div:last-of-type{
    color:#acfdfe;
    font-size: 12px;
}